@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 25px;">
    <h1>PersonalLib</h1>
    <p class="lead">PersonalLib is a place where you can upload your latest book and share it with everyone else</p>
    <a href="/Book" class="btn btn-success btn-lg">Start Now!</a>
</div>